.input-wrapper {
  position: relative;
}
.ico {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
input {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  border: 1px solid;
  padding-left: 10px;
  outline: none;
}
